<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-white" routerLink=""><img width="50px"
        src="https://img.freepik.com/premium-vector/food-hunter-logo-template-design_316488-1781.jpg?w=2000"
        alt="Nav-logo"> &nbsp; Food <span> Hunter</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">

        <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- login -->


<div class="background-image"></div>
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25" class="border border-2 blur-form">

    <mat-toolbar color="warn" fxLayoutAlign="center center"> <b>Login</b> </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Username" name="email" formControlName="fname">
      </mat-form-field>
      <div *ngIf="this.loginForm.get('fname')?.errors && this.loginForm.get('fname')?.touched" class="text-danger">
        invalid username
      </div>




      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" formControlName="password">
      </mat-form-field>
      <div *ngIf="this.loginForm.get('password')?.errors && this.loginForm.get('password')?.touched" class="text-danger">
        invalid password
      </div>


      <button mat-raised-button color="warn" (click)="login()" routerLink="" type="submit">Login</button>
      <hr>
      <button mat-raised-button color="warn" type="submit" routerLink="/register">Register</button>
    </form>
  </mat-card>
</div>



<!-- footer -->

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/login" role="button"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1"
        href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin" role="button"><i
          class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"><i
          class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/accounts/login/"
        role="button"><i class="fab fa-instagram"></i></a>



      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"><i
          class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" routerLink="/">Food Hunter</a>
  </div>
  <!-- Copyright -->
</footer>